*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #1e1e1e;
    color: #f8f8f2;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}

.bg-img {
    width: 110%;
    /* max-height: 80%; */


}

.terminal {

    /* background-color: #2d2d2d; */
    width: 600px;
    max-width: 90%;
    height: 400px;
    padding-bottom: 10px;
    /* border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5); */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    position: absolute;

    resize: both;
    overflow: auto;

    background: rgba(10, 9, 19, 0.219);
    border-radius: 16px;
    box-shadow: 0 4px 30px #ffd06218;
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(10, 9, 19, 0.473);
}

.tools {
    display: flex;
    align-items: center;
    padding-top: 9px;
    position: relative;

    /* background: rgba(61, 58, 87, 0.092);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(61, 58, 87, 0.092);
    margin: 0; */

    padding-bottom: 9px;
    background: rgba(10, 9, 19, 0.676);
    border-radius: 16px 16px 0px 0px ;
    /* box-shadow: 0 0px 30px #ffd06218; */
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(10, 9, 19, 0.473);
}

.window-bar {
    padding-left: 10px;
    display: flex;
    align-items: center;
    position: inherit;
}

.circle {
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 4px;
    margin-top: 4px;
    transform: translateY(-2px);
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.red:hover {
    /* background-color: #fe7472; */
    transform: scale(1.1);
}

.red:active {
    background-color: rgb(255, 96, 94);
    transform: scale(0.9);
}

.yellow {
    background-color: #ffbd44;
}

.yellow:hover {
    /* background-color: #fe7472; */
    transform: scale(1.1);
}

.yellow:active {
    background-color: #ffb52b;
    transform: scale(0.9);
}

.green {
    background-color: #00ca4e;
}

.green:hover {
    /* background-color: #fe7472; */
    transform: scale(1.1);
}

.green:active {
    background-color: #00b746;
    transform: scale(0.9);
}

#terminal-output {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    /* overflow: scroll; */
}

.output-line {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
}

.input-bar {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1%;
    background: rgba(61, 58, 87, 0.158);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(61, 58, 87, 0.092);
}

.input-line {
    display: flex;
    align-items: center;
    width: 100%;
    
}

.prompt {
    margin-right: 10px;
}

#terminal-input {
    background: none;
    border: none;
    outline: none;
    color: #f8f8f2;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}


body {
    --sb-track-color: #232E33;
    --sb-thumb-color: #6BAF8D;
    --sb-size: 14px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding-right: 1%;
}

.footer-button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    justify-content: center;
    background: rgba(10, 9, 19, 0.219);
    border-radius: 8px;
    box-shadow: 0 4px 30px #ffd06218;
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(10, 9, 19, 0.473);
    margin: 5px; 
}

.footer-button:hover {
    background: rgba(0, 207, 28, 0.11);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.048);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 207, 29, 0.3);
    transform: scale(1.05);
}

.footer-button:active {
    transform: scale(1.1);
    background-color: #3e8e41c0;
}

.footer-button svg {
    display: block;
    margin: auto;
    padding: 0; 
}

    #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#mydiv {
    position: absolute;
    z-index: 9;
  }
  
  #mydivheader {
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 10px;
    cursor: move;
    z-index: 10;    
    
    padding-right: 85%;
    position: flex;
    overflow: hidden;
    white-space: nowrap;
    
  }

  